@use "../abstract/variables" as vstyle;

header {
  position: relative;
  z-index: 1001;
}

.menu-container {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: vstyle.$bg-color;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  overflow-y: scroll;
  z-index: 999;

  .menu-item:first-of-type {
    margin-top: 10vh;
  }
}

.menu-container.active {
  transform: translateX(0);
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  width: 90vw;
  font-size: 2rem;
  color: vstyle.$color-up;
  gap: 2rem;
  flex-wrap: wrap;

  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    transition: transform 0.4s ease;

    &:hover .menu-item-lien::before {
      transform: rotate(360deg);
      font-size: 2.5rem;
    }

    &:active {
      transform: scale(1.1);
    }
  }

  .menu-item-lien {
    display: flex;
    align-items: center;
    white-space: nowrap;
    min-width: 200px;

    &::before {
      content: "⟴ ";
      width: 1rem;
      top: 0;
      left: 0;
      display: inline-block;
      margin-right: 2rem;
      transition: transform 0.7s ease;
    }
  }

  img {
    width: 40rem;
    border-radius: vstyle.$border-radius;
    box-shadow: vstyle.$box-shadow;
    border: 2px solid vstyle.$text-color;
    max-width: 100%;
    cursor: pointer;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;

    &:active {
      transform: scale(2.5);
      opacity: 0.8;
    }
  }
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;

  img {
    width: 3rem;
    transition: transform 0.3s ease;
  }
}