// Couleurs
$bg-color : #ebeaf1;
$text-color: #6c6ea0;
$text-color-second: #0b132b;
$color-up: #417b5a;

// typographie
$font-titre: "arvo";
$font-text: "bitter";
$font-name:"Bungee";

// style box/card/button
$border-radius: 5px;
$box-shadow: 10px 10px 10px rgba(black, 0.6);
$input-border: #70938e;

$button-hover: #3fdd93;